In [7]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/user/.local/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /home/user/.local/lib/python3.9/site-packages (from pandas) (1.21.4)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [9]:
!pip install pandas_profiling

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas_profiling in /home/user/.local/lib/python3.9/site-packages (3.1.0)
Requirement already satisfied: PyYAML>=5.0.0 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (5.4.1)
Requirement already satisfied: markupsafe~=2.0.1 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (2.0.1)
Requirement already satisfied: scipy>=1.4.1 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (1.8.0)
Requirement already satisfied: missingno>=0.4.2 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (0.5.1)
Requirement already satisfied: tqdm>=4.48.2 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (4.63.0)
Requirement already satisfied: matplotlib>=3.2.0 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (3.5.1)
Requirement already satisfied: phik>=0.11.1 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (0.12.0)
Requirement already satisfied: joblib~=1.0.1 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (1.0.1)
Requirement already satisfied: numpy>=1.16.0 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (1.21.4)
Requirement already satisfied: pydantic>=1.8.1 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (1.9.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (0.7.4)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (0.1.0)
Requirement already satisfied: requests>=2.24.0 in /usr/lib/python3/dist-packages (from pandas_profiling) (2.25.1)
Requirement already satisfied: htmlmin>=0.1.12 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: jinja2>=2.11.1 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (3.0.1)
Requirement already satisfied: multimethod>=1.4 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (1.7)
Requirement already satisfied: seaborn>=0.10.1 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (0.11.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /home/user/.local/lib/python3.9/site-packages (from pandas_profiling) (1.3.4)
Requirement already satisfied: attrs>=19.3.0 in /usr/lib/python3/dist-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (20.3.0)
Requirement already satisfied: networkx>=2.4 in /home/user/.local/lib/python3.9/site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (2.7.1)
Requirement already satisfied: imagehash in /home/user/.local/lib/python3.9/site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (4.2.1)
Requirement already satisfied: Pillow in /usr/lib/python3/dist-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (8.1.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/user/.local/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas_profiling) (4.29.1)
Requirement already satisfied: cycler>=0.10 in /home/user/.local/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (20.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/user/.local/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.2)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2021.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /home/user/.local/lib/python3.9/site-packages (from pydantic>=1.8.1->pandas_profiling) (4.1.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling) (1.16.0)
Requirement already satisfied: PyWavelets in /home/user/.local/lib/python3.9/site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling) (1.3.0)

In [1]:
import pandas as pd

In [15]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2022-03-13 13:57:51--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.02s

2022-03-13 13:57:51 (2.73 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [16]:
df = pd.read_csv("titanic.csv")

In [17]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
from pandas_profiling import ProfileReport

In [18]:
profile = ProfileReport(df, title="Titanic Dataset", explorative=True)

In [19]:
profile.to_file("titanic_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [20]:
print('END OFNOTEBOOK')

END OFNOTEBOOK